{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevda Sultanova's CV</title>
    <link href="/static/assets/css/fontawesome.css" rel="stylesheet">
    <link href="/static/assets/css/brands.css" rel="stylesheet">
    <link href="/static/assets/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel='stylesheet' media='screen and (min-width: 778px)' href='css800width.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Audiowide&family=Caveat:wght@400;600&family=Gajraj+One&family=Goldman&family=Homemade+Apple&family=Kanit&family=La+Belle+Aurore&family=Lato&family=Square+Peg&display=swap" rel="stylesheet">
    <!-- <video id="background-video" autoplay loop muted poster="static\assets\images\Screenshot (1).png">
      <source src="static\assets\images\1118666_4k_Mystery_Astronomy_3840x2160.mp4" type="video/mp4">
      </video> -->
    <iframe src="https://giphy.com/embed/I7V6Te1Ka0U00" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/nasa-space-galaxy-I7V6Te1Ka0U00">via GIPHY</a></p>      

    
</head>
<body>
  <img class="astronaut-contact" src="static\assets\images\astronaut-contact.png" alt="astronaut-contact">
  <nav class="navbar bg-body-tertiary">
    <p class="contact-text">You can contact me via:</p>
    <div class="container-contact">
      <div class="linkedin">
        <a class="navbar-brand" href="https://www.linkedin.com/in/sevda-sultanova-b52459102/">
          <img src="static\assets\images\linkedin.png" alt="linkedin" width="60" height="54">
        </a>
      </div> 
      <div class="mail">
        <a class="navbar-brand" href="mailto:sevda.akari@gmail.com">
          <img src="static\assets\images\gmail.png" alt="mail" width="63" height="69">
        </a>
      </div> 
    </div>
  </nav>
</body>
</html>
{% include "footer.html" %}


<!-- <div class="contact-body">
  <h1>You can contact me via: </h1>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" d="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/sevda-sultanova-b52459102/"><i class="fab fa-linkedin"></i></a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="mailto:sevda.akari@gmail.com"><i class="fas fa-envelope"></i></a>
            </li>
        </div>
      </div>
    </nav>
</div>   -->