<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sevda Sultanova's CV</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel='stylesheet' media='screen and (min-width: 778px)' href='css800width.css' />
    <video id="background-video" autoplay loop muted poster="static\assets\images\Screenshot (1).png">
      <source src="static\assets\images\1118666_4k_Mystery_Astronomy_3840x2160.mp4" type="video/mp4">
      </video>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Audiowide&family=Caveat:wght@400;600&family=Gajraj+One&family=Goldman&family=Homemade+Apple&family=Kanit&family=La+Belle+Aurore&family=Lato&family=Square+Peg&display=swap" rel="stylesheet">

</head>
<body>
  <div class="header-body">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">Menu</a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <div class="header-text"> -->
                <li class="nav-item">
                  <a class="about-me-text">
                    <a class="nav-link" style="color: #FFF6E0" href="{{ url_for('home') }}">about me</a>
                  </a> 
                </li>
                <li class="nav-item">
                  <a class="contact-text">
                    <a class="nav-link" style="color: #FFF6E0" href="{{ url_for('contact') }}">contact</a>
                  </a> 
                </li>
              <!-- </div>   -->
          </div>
        </div>
      </nav>
  </div>  
</body>
</html>